Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list 

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [2]:
a=[2,3,4,5,6,7]
a.append('mango')
a.append('banana')
a.append('grapes')
a.append('orange')
a.insert(5,'apple')
a.remove('orange')
print(a)

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes']

Q2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [4]:
L=[1,2,3,4,5,6,7]
print(L[1:4])

[2, 3, 4]

Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [7]:
L=[4,5,8,3]
print(L[::-1])

[3, 8, 5, 4]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [8]:
L=[2,4,7,3,6,8]
res=[i*i for i in L]
print(res)

[4, 16, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [10]:
def sum(b):
    s=0
    for i in b:
        s=s+i
    return s
s=(1,2,3,4,5,6,7,8,9,10)
sum(s)

55

In [ ]:
Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [11]:
a={'Banana','Orange','Guava','Mango'}
b={'Sweet melon','Dragon fruit','Grapes'}
print(a.union(b))

{'Sweet melon', 'Guava', 'Banana', 'Grapes', 'Orange', 'Dragon fruit', 'Mango'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [14]:
b={'Sai Kuladeep','Shanthan','Asif','Sai Tharun'}
b.add('Shreyas')
print(b)

{'Shanthan', 'Asif', 'Sai Kuladeep', 'Sai Tharun', 'Shreyas'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [16]:
b={'Dog','Cow','Horse','Rabbit','Cat'}
b.remove('Cat')
print(b)

{'Dog', 'Cow', 'Rabbit', 'Horse'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

Use the zip() function to combine the book set and movie list into a list of tuples representing book/ 

movie pairs. Print the resulting list.

In [20]:
favourite_books={"1984","To killa Mockingbird",'Pride and Prejudice'}
favourite_movies=['The shawshank Redemption','The Godfather','The Dark Knight']
zipped=zip(list(favourite_books),favourite_movies)
print(list(zipped))

[('1984', 'The shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('To killa Mockingbird', 'The Dark Knight')]

# Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [23]:
a=[5, 9, 12, 18, 22]
b=[]
for i in range(len(a)):
    if(i!=len(a)-1):
        b.append(a[i+1]-a[i])
print(b)

[4, 3, 6, 4]